#content {
	#package-wrapper {
		background-color: #37474f;

		#package-image {
		    display: table;
		    min-height: 40vw;
		    max-height: 40vw;
		    background: #212121;
		    width: 100%;

		    #package-img-cell {
		        display: table-cell;
			    vertical-align: middle;
			    height: 40vw;
			    min-height: 40vw;
			    max-height: 40vw;
		    }

		    .img-responsive {
		    	width: 100%;
		    }
		}

		#package-details {
			padding-top: 15px;

			#package-name {
				font-size: 22px;
			}
			#package-price {
				font-size: 22px;
				font-weight: bold;
			}			
			#package-icons {
				padding-top: 10px;

				.package-icons {
					color: #2196f3;
				}

				.package-hub-count {
				    position: absolute;
				    font-size: 25px;
				    width: 65px;
				    text-align: center;
				    margin-left: -65px;
				    line-height: 65px;
				}				
			}
		}

		#package-checkout {
			margin-top: 30px;
			margin-bottom: 10px;

			#create-hub {
			    background: #64dd17;	    
			}

			#create-hub:hover {
				background: #5bce13;
			}

			#gora {				
			    background: #212121;		
			}

			#gora:hover {
				background: #000;
			}

			a {
				width: 100%;
			    border: 0;
			    color: #fff;
			     font-size: 20px;
				-webkit-border-radius: 0px; 
				-moz-border-radius: 0px; 
				border-radius: 0px;				
			}									
		}
	}

	#package-nav {
		.nav-tabs{ 
			border-bottom: 0;
			border-top: 2px solid #212121;
			background-color: #37474f;

			a {
				background: none;
				color: #9e9e9e;
			    border-radius: 0;
				-webkit-border-radius: 0px; 
				-moz-border-radius: 0px; 
				border-radius: 0px;		
				border: 0;		    			
			}
			a:hover {
				border: 0;
			}
			li.active {
				background: #212121;
				
				a {
					color: #fff;
					border: 0;
				}

				.badge {
					background-color: #ff1744;
					color: #fff;
				} 
			}
		}
		
		.tab-content {
			margin-top: 20px;
		}
	
		#package-hubs {
			margin-top: 20px;

			.package-hubs {
			    border: 0;
			    padding: 0;
			    position: relative;
			    background: #212121;

			    img.package-hub-img {
			    	filter: brightness(75%);
			    }

			    .package-hub-details {
			    	position: absolute;
			    	border: 0;
					height: 100%;
					width: 100%;
				    max-width: 100%;
				    margin-bottom: 20px;
				    line-height: 1.428571429;
				    -webkit-transition: all .2s ease-in-out;
				    transition: all .2s ease-in-out;
				    z-index: 1;
				    display: block;

				    .package-hub-privacy {
				    	font-size: 30px;
				    }

				    .package-hub-participants {
				    	height: 55px;
				    	width: 55px;
				    	font-size: 15px;
						line-height: 55px;
						text-align: center;				    	
				    }

				    h1 {
				  	  text-align: center;
				    }

				    .package-hub-admin {
				    	font-size: 14px;
				    }
				    
			    }
			
			    .package-hub-details:hover + img.package-hub-img {
			    	filter: brightness(90%);
			    }

			}
		}		
	}	
}
